:root {
  --main-gradient: linear-gradient(
    to right,
    rgb(85, 149, 27),
    rgb(183, 219, 87)
  );
  --hover-gradient: radial-gradient(
    circle at 10% 20%,
    rgb(85, 149, 27) 0.1%,
    rgb(140, 172, 54) 90%
  );
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: var(--main-gradient);
}

.calculator {
  width: 320px;
  margin: 30px auto;
  padding: 15px 0;
  background: linear-gradient(
    90deg,
    rgba(67, 38, 93, 1) 0%,
    rgba(31, 6, 75, 1) 77%,
    rgba(40, 39, 43, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.display {
  color: white;
  text-align: right;
  box-sizing: border-box;
  padding: 10px 40px;
}

.display-history,
.display-temp-result {
  font-size: 15px;
  opacity: 0.5;
}

.display-temp-result {
  text-align: left;
}

.display-calculator {
  font-size: 45px;
  margin: 5px 0;
}

.key-board {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 20px 10px;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.105);
  font-weight: bold;
}

.button:active {
  background-color: rgba(128, 128, 128, 0.43);
}

.equal {
  grid-column: 3/5;
  background: var(--main-gradient);
  color: white;
  font-weight: bold;
  transition: all ease-in-out 250ms;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -50px 36px -28px inset;
}

.equal:hover {
  background: var(--hover-gradient);
}

.calculator,
.key-board,
.equal {
  border-radius: 20px;
}

.operation,
.clear-all,
.clear-last-entity {
  color: #5d9b20;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.756);
}

a {
  text-decoration: none;
  transition: all ease-in-out 250ms;
}

a:hover {
  color: black;
}
